# This file is used to define code owners for the repository.
# Code owners are responsible for reviewing pull requests that modify the code they own.
# Each line is a file pattern followed by one or more GitHub usernames or team names.
# For more information, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @davidetamburrino @federicoarcangeli @PixelCrafterNinja @michele-cirillo-siae @AleVit1982